/*
css reset 
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

div {
    box-sizing: border-box;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
    scroll-behavior: smooth;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

input {
    -webkit-appearance: none;
    border: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/* rest end */

@font-face {
    font-family: 'shutter-braille';
    src: url("/assets/fonts/shutterBraille/shutter-Braille.ttf");
}

@font-face {
    font-family: 'dearly-loved-one';
    src: url("/assets/fonts/dearlyLovedOne/dearly_loved_one.ttf");
}

@font-face {
    font-family: 'croissant-one';
    src: url("/assets/fonts/CroissantOne/croissantOne-Regular.ttf");
}

@font-face {
    font-family: 'quotable';
    src: url("/assets/fonts/quotable/quotable-Regular.otf");
}

a,
a:hover,
a:active,
a:visited,
a:focus {
    cursor: pointer;
    text-decoration:none;
}
    
.nav {
    background-color: #f1f1f1;
    background-image: url("/assets/images/a-mommy-that-codes.jpg");
    background-size: cover;
    height: 1000px;
    overflow: hidden;
}

.nav-link:hover,
.nav-link:visited {
    color: #fff;
    border-bottom: 3px dotted #6eebaf;
}

.nav-tab {
    display: inline-block;
    font-size: 20px;
    left: 175px;
    padding-right: 50px;
    padding-top: 20px;
    opacity: 1;
    top: 50px;
}

.nav-float-even {
    animation: floateven 3.5s 2 ease-in-out;
    content: '';
    position: relative;
}

@keyframes floateven {
    50% {
        top: 60px;
    }    
    100% { 
        top: 50px;
    }
}

.nav-float-odd {
    animation: floatodd 4.5s 2 ease-in-out;
    content: '';
    position: relative;
}

@keyframes floatodd {
    50% {
        top: 57px;
    }    
    100% { 
        top: 50px;
    }
}

/* end of nav */

/* .container */

.container {
    height: 100vh;
    margin: 0;
    padding-bottom: 20px;
    width: 100%;
}

/* end of .container */

/* .title */
.title {
    font-family: 'dearly-loved-one';
    font-size: 50px;
    text-align: center;
    color: blueviolet;
}

/* .intro-content */
.intro-content {
    color: deeppink;
    font-family: 'quotable';
    font-size: 36px;
    padding: 10px 30px;
}
/* end of .intro-content */
    